
default: &default
  adapter: postgresql
  encoding: unicode
  # For details on connection pooling, see rails configuration guide
  # http://guides.rubyonrails.org/configuring.html#database-pooling
  pool: 5

development:
  adapter: postgresql
  encoding: unicode
  database: geekhub_development
  pool: 5
  username: adham
  password: password

test:
  adapter: postgresql
  encoding: unicode
  database: geekhub_test
  pool: 5
  username: adham
  password: password

production:
  <<: *default
  database: geekhub_production
  username: backend
  password: <%= ENV['BACKEND_DATABASE_PASSWORD'] %>
